:root {
  --hue: 223;
  /* 背景 */
  --bg1: hsl(var(--hue), 10%, 90%);
  /* 环状背景 */
  --bg2: hsl(var(--hue), 10%, 80%);
  --fg1: hsl(var(--hue), 10%, 10%);
  --fg2: hsl(var(--hue), 10%, 20%);
  --primary1: hsl(var(--hue), 90%, 55%);
  --primary2: hsl(var(--hue), 90%, 45%);
}

.btn--running,
.btn--done {
  /* 移除罗廓线 */
  outline: none;
  /* 禁止响应鼠标事件 */
  pointer-events: none;
  width: 2em;
  /* 无法选中 */
  user-select: none;
  /* 优雅降级，moz 兼容 firefox，webkit 兼容 chrome 和 safari */
  -moz-user-select: none;
  -webkit-user-select: none;
}
.btn--running .btn__text,
.btn--done .btn__text {
  color: transparent;
  /* 文本动画 */
  transition:
    background-color 0.3s ease-in-out,
    visibility 0.3s steps(1);
}
.btn--running .btn__progress,
.btn--done .btn__progress {
  /* 根据 btn--running 和 btn--done 状态开始显示  */
  /* visibility: visible; */
}
.btn--running .btn__text {
  background-color: var(--bg2);
  visibility: hidden;
}
.btn--running .btn__progress-track {
  r: 20px;
  stroke-width: 8;
  /* 第二个属性 .3s 代表延迟，需要延迟按钮宽度的变化时间 */
  transition:
    r 0.3s 0.3s ease-in-out,
    stroke-width 0.3s 0.3s ease-in-out;
}

.btn--running .btn__progress-fill {
  stroke-dashoffset: 0;
  /* 延迟0.6s，是因为有进度条展示动画、宽度动画一共0.6s, 然后总运行时间 2s */
  transition: stroke-dashoffset 2s 0.6s linear;
}

/* 执行完的状态 */
.btn--done .btn__progress-track {
  stroke: var(--primary1);
  transition:
    r 0.3s ease-in-out,
    stroke-width 0.3s ease-in-out;
}

.btn--done .btn__progress-check {
  /* 成功动画，将实线开始偏移，注意要延迟进度条的结束动画 */
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.3s 0.3s ease-out;
}
